<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<div id="one"
    style="background: url('/design/bg_img.png') center/cover no-repeat; max-height: 80vh;display: flex;flex-direction: column;">
    <div class="mt-2" style="display: flex;align-items: center;justify-content: space-between;">
        <a href="javascript:location.reload();" style="text-decoration: none;">
            <img src="/design/logotradelink2.png" class="ml-5" alt="Trade-Link Logo" style="width: 160px; cursor: pointer;">
        </a>
        {{#if fuser}}
        <div class="mt-4 mr-5" onmouseenter="showlogoutdiv()" onmouseleave="hidelogoutdiv()">
            <p style="font-weight: 800; font-size: 20px; border: 1px solid black; color: #ffff;background-color: black; border-radius: 100%;"
                class=' pl-3 pr-3 pt-2 pb-2' id="shortName">{{fuser.name}}</p>
            <div id="logoutdiv" onmouseover="this.style.backgroundColor='#ddd';"
                onmouseout="this.style.backgroundColor='transparent';" class="p-1 pl-3 pr-3"
                style="display: none; border: 1px solid black; position: absolute;top: 74px;right: 6px; background-color: #ffff;border-radius: 12px;">
                <a href="/logout"
                    style="text-decoration: none;color: black;font-family: 'Poppins', sans-serif;">Logout</a>
            </div>
        </div>

        {{else}}
        <a href="/login" class='mr-5 pl-3 pr-3 pt-1 pb-1'
            style="text-decoration: none; border: 1px solid black;  display: flex;align-items: center;justify-content: center;gap: 5px; color: black; border-radius: 12px;">
            Login
            <img src='/design/arrow_icon.svg' alt="Arrow" className='w-4 h-4' />
        </a>
        {{/if}}
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center"
        style="font-family: 'Poppins', sans-serif; height: 90vh;">
        <div class="d-flex flex-column align-items-center mt-5 px-4 text-center text-dark" >
            <img src="/design/robo.png" class="rounded-circle mb-4" style="width: 12rem; height: 21rem;" alt="">
            <h1 style="font-size: 33px; color: #1F2937; font-weight: 600;   font-family: 'Poppins', sans-serif;"
                class=" d-flex align-items-center gap-2 h4 fw-medium mb-2">
                Hey {{#if fuser}}{{fuser.name}}{{else}}There{{/if}}
                <img class="ml-2" src="/design/hand_wave.png" alt="" style="width: 2rem; height: 2rem;">
            </h1>
            <h2 class="h2 fw-semibold mb-3 "
                style="font-size: 43px; color: #1F2937; font-weight: 800;   font-family: 'Poppins', sans-serif;">Welcome
                to
                your app</h2>
            <p class="mb-4"
                style="max-width: 25rem;color: #1F2937; font-weight: 300;   font-family: 'Poppins', sans-serif;">
                Let's start with a quick product tour, and we will have you up and
                running in no time!</p>
            <a href="/services" id="startbtn" class="btn  rounded-pill px-4 py-2"
                style="color: black; border-radius: 12px;  font-family: 'Poppins', sans-serif; margin-bottom: 13px;">Get Started <img
                    src="/design/arrow_icon.svg" alt=""></a>
        </div>
    </div>

</div>
<style>
    #startbtn {
        border: solid .5px;
    }

    #startbtn:hover {
        background-color: rgb(204, 204, 204);
    }

    #one {
       
        animation: zoomIn 0.5s ease-in-out forwards;
    }

    #one::-webkit-scrollbar {
        display: none;
    }

    @keyframes zoomIn {
        from {
            transform: scale(0.8);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const nameElement = document.getElementById("shortName");
        if (nameElement) {
            nameElement.textContent = nameElement.textContent.slice(0, 1).toUpperCase();
        }
    });
    function showlogoutdiv() {
        document.getElementById("logoutdiv").style.display = ""
    }
    function hidelogoutdiv() {
        document.getElementById("logoutdiv").style.display = "none"
    }

</script>