<div class="wklinkroot">
    <div class="wkheadding1"></div>
    <div class="wkheadding2">
        <div id="leftdiv1">
            <div>
                
            </div>
        </div>
        <div id="leftdiv2"></div>
    </div>
    <img src="/design/dedpool.png"
        style="z-index: 10; position: absolute; bottom: 0; right: 0; width: 1190px; height: 800px;" alt="">
</div>

<style>
    /* Main container */
    .wklinkroot {
        background-image: url(/design/bg_img.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        min-height: 100vh;
        display: flex;
    }

    /* Left Section */
    .wkheadding2 {
        width: 30%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /* Right Section */
    .wkheadding1 {
        width: 70%;
        min-height: 100vh;
        position: relative;
    }

    /* Top Section with Purple Overlay */
    #leftdiv1 {
        width: 100%;
        height: 50%;
        position: relative;
       
    }

   

    /* Bottom Section with Dark Overlay */
    #leftdiv2 {
        width: 100%;
        height: 50%;
        position: relative;
        
    }

   
</style>
